@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Montserrat:wght@700&family=Open+Sans&family=PT+Serif&family=Poppins&family=Roboto&family=Squada+One&display=swap');
.container {
    height: 33px;
    width: 183px;
    background-color: #ff665533;
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    top: 50%;
    left: 50%;
    border-radius: 103px;
    align-items: center;
   
  }
  .circular-progress {
    position: relative;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: conic-gradient( #e93926 324deg, #cadcff 324deg);
  }
  .circular-progress:before {
    content: "";
    position: absolute;
    height: 60%;
    width: 60%;
    background-color: antiquewhite;
    border-radius: 50%;
  }
  
  .value-container{
    color: #e93926;
    font-weight: 700;
    margin: 5px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
  }
  .value-container p{
    margin: 0 7px;
  }
  .container:nth-child(1){
    background-color: #4fed7033;
    top: 40%;
    left: 50%;
    width: 139px;
   
  }
  .value-container:nth-child(1){
    color: #009841;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  